.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  gap: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;

}

.login-button .fa-user {
  margin: 3px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}
.input-area {
  border-bottom: 2px solid rgb(195, 195, 195);
  height: 30px;
  position: absolute;
  right: 12px;
}

.input-box {
  border: none;
  margin-left: 5px;
}
.item-area{
  overflow: hidden;
}
.item-area img {
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.item-area img:hover {
  transition: 0.4s;
  scale: 1.08;

}
/* login page */
.login-page {
  display: flex;
  justify-content: center;
}
.login-wrapped>h1,
.login-wrapped>div{
  text-align: center;
}

.login-wrapped {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  height: 80%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  padding: 3em;
}
.login-wrapped div{
  color: rgb(79, 79, 79);
}
.button-wrap {
  margin: 1em;
}

.button-wrap Button {
  border: 1px solid rgba(83, 117, 255, 0.411);
  background-color: rgba(226, 226, 226, 0.088);
  width: 100px;
  height: 45px;
  margin: 10px;
}

.or-divider {
  display: flex;
  justify-content: center;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d3d3d3;
  margin: 10px 20px;
}

.input-wrap {
  margin: 1em 3em;
  text-align: left;
}

.input-wrap input {
  padding-left: 10px;
  width: 100%;
  height: 40px;
}

.login-btn {
  width: 75%;
  margin-left: 12%;

}
/* detao; page */
/* dropdown */
#dropdown-basic-button{
  background: none;
  color: black;
  border: solid 1px rgb(158, 158, 158);
  margin-top: 1em;
}
.cart-btn{
  margin-top: 1em;
  width: 100%;
}
.choice{
  background-color: rgb(249, 206, 13);
  color: rgb(0, 0, 0);

  width: 170px;
  border-radius: 30px;
  text-align: center;
  padding: 2px 0;
  margin-bottom: 1em;
}

/* card */
.blink_me{
  animation: blink 1s infinite;
}
                @keyframes blink {
                  0% {
                    opacity: 1;
                  }
        
                  50% {
                    opacity: 0;
                  }
        
                  100% {
                    opacity: 1;
                  }
                }